/* Make the video responsive */
#videoBG {
  object-fit: cover;
  object-position: left bottom; /*center; /**/
  width: 100vw;
  height: 70vh; /* indicate that there's something below / you can scroll */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  filter: grayscale(100%);
}
